
.animate {
    animation: bounce 0.5s ease-in-out;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  #dice {
    height: 100px;
    width: 100px;
    justify-content: right;
    align-items: right;

  }

